* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: crimson;
  position: relative;
}

.card {
  width: 700px;
  background-color: #ccc;
  margin: 20px;
  padding: 20px;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(210, 200, 200);
  border-radius: 10px;
  background: linear-gradient(#f5f5f6, #db1a09);
}

body span {
  font-size: 20px;
  font-weight: 900;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: black;
  background-color: rgb(211, 64, 19);
  padding: 4px 5px;
  position: fixed;
  right: 0px;
  bottom: 0px;
}
