@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0px;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease-in;
}

.circle {
  background-color: #ffff;
  color: #999;
  width: 30px;
  height: 30px;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
